01/01_02.json
{
  "name": "01_02",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1434ff43-58f7-4441-a9c1-bdcaa7d38c09",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7a97e41-f942-4eed-be74-74a4606fb832",
              "name": "query",
              "value": "Did Disney already release their Q2 earnings for 2026?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8fd32a87-7a45-4438-af40-bbd89c2aff6e",
      "name": "Define Research Query"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "c5d2ac1c-4449-4d89-926b-8bee90e7f9c5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qisx2uzl8QHJIcCg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research question: {{ $json.query }}",
        "options": {
          "systemMessage": "Answer the research question using web search. Respond in a short, concise way."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "af53f1cd-99a0-4523-b511-c39d67eab3b1",
      "name": "Research"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Define Research Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Research Query": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a289c1c-66ce-4c18-a29d-3b013b0cf61b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4a4b34dba3ee3b7962c8920f1d1ae2e83302284e2d9036f405c172286e6d2fe"
  },
  "nodeGroups": [],
  "id": "7XknuQGYUOmeefNF",
  "tags": []
}
