01/01_04.json
{
  "name": "01_04",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        80
      ],
      "id": "b8479804-27b6-4bcf-90e4-bdb33ff5fbb1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39de528b-0b4b-4247-985a-078e3062f1ad",
              "name": "query",
              "value": "Report the Q2 earnings from Disney, Warner, and Netflix in 2026",
              "type": "string"
            },
            {
              "id": "0662139b-b10b-4991-b1de-8fd4c1f1697c",
              "name": "round",
              "value": 0,
              "type": "number"
            },
            {
              "id": "08f699d5-7f5b-4a58-bfb7-f58772e11b9e",
              "name": "findings",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        80
      ],
      "id": "1d03a9b0-c247-4d5f-98c6-0a5f2af5e1a4",
      "name": "Define Research Query"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        176
      ],
      "id": "5675b146-3a8d-44e0-9067-5212f3214250",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qisx2uzl8QHJIcCg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research question: {{ $json.query }}\n\nPrevious findings: \n{{ $json.findings}}\n\nPrevious gaps:\n{{ $json.gaps }}",
        "options": {
          "systemMessage": "You are a research agent running ONE round of a larger research process\n\nYour job is to make concrete progress on the research question, prioritizing the open gaps provided.\n\nTo perform the research, you have access to the following tools:\n- Web search: search the web for real-time answers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        -48
      ],
      "id": "72df13b8-d5d7-4281-885f-86e757b02bc0",
      "name": "Research"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research question:\n\"\"\"\n{{ $('Define Research Query').item.json.query }}\n\"\"\"\n\nFindings gathered so far\n\"\"\"\n{{ $json.output }}\n{{ $('Define Research Query').item.json.findings }}\n\"\"\"",
        "options": {
          "systemMessage": "You are a critique agent.\n\nDetermine whether the research question has been fully answered using only the findings gathered so far.\n\nReturn only valid JSON in this exact format:\n\n{\n\"done\": true,\n\"gaps\": \"\",\n\"reasoning\": \"\"\n}\n\nRules:\n* Set \"done\" to true only if the findings completely answer the research question.\n* Set \"done\" to false if the answer is incomplete, unclear, unsupported, or missing important information.\n* Use \"gaps\" to briefly describe what is missing or still needs research.\n* Use \"reasoning\" to briefly explain your verdict.\n* Do not include markdown, comments, or any text outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -48
      ],
      "id": "ab93284d-614d-402e-a281-9b68024a5324",
      "name": "Critique Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "critique_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"done\", \"gaps\", \"reasoning\"],\n  \"properties\": {\n    \"done\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if the findings completely answer the research question; false otherwise.\"\n    },\n    \"gaps\": {\n      \"type\": \"string\",\n      \"description\": \"Briefly describe what is missing, unclear, unsupported, or still needs research. Use an empty string if there are no gaps.\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of why the answer is complete or incomplete.\"\n    }\n  }\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        176
      ],
      "id": "e8d173f7-775b-4088-bcf7-71f410a36090",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Qisx2uzl8QHJIcCg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -48
      ],
      "id": "59222ff2-4b1f-4b78-91ee-8b10c34bafe1",
      "name": "Parse Verdict"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9171a0b6-cdc9-434a-b65b-d81aa7315e63",
              "leftValue": "={{ $json.done }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        -48
      ],
      "id": "f85af47b-3bf8-4a83-8588-1547659e4f87",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        80
      ],
      "id": "1a2b9e90-629f-4df5-a663-7e9566aedcc5",
      "name": "Round Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca6f87ab-30ca-47ae-b674-656c12bd8ddf",
              "name": "output",
              "value": "={{ $('Research').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        -96
      ],
      "id": "dfad195e-3329-4dde-9820-4586317b4b91",
      "name": "Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f86da81-4ff6-4a01-904d-31d2b71571e1",
              "name": "query",
              "value": "={{ $('Round Start').item.json.query }}",
              "type": "string"
            },
            {
              "id": "7819c156-f6d7-4b9c-973e-a3879712f171",
              "name": "round",
              "value": "={{ $('Round Start').item.json.round + 1 }}",
              "type": "string"
            },
            {
              "id": "f7f97006-748c-4b6b-94bc-09633127a330",
              "name": "findings",
              "value": "=Round {{ $('Round Start').item.json.round }} Findings:\n==================\n{{ $('Research').item.json.output }}\n\n{{ $('Round Start').item.json.findings }}",
              "type": "string"
            },
            {
              "id": "d0535676-5fed-427c-961d-c473d7c57b97",
              "name": "gaps",
              "value": "={{ $('Parse Verdict').item.json.gaps }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        176
      ],
      "id": "97a4b6f3-d0d7-4a22-92e4-d4e982e8dc4e",
      "name": "Updated Research Query"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Define Research Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Research Query": {
      "main": [
        [
          {
            "node": "Round Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "main": [
        [
          {
            "node": "Critique Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Critique Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Critique Agent": {
      "main": [
        [
          {
            "node": "Parse Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Verdict": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Research Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Round Start": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Research Query": {
      "main": [
        [
          {
            "node": "Round Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7608ebb8-d99f-4aa8-87a8-d8fd253e214e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4a4b34dba3ee3b7962c8920f1d1ae2e83302284e2d9036f405c172286e6d2fe"
  },
  "nodeGroups": [],
  "id": "HlgJvk2xKWhQrvSr",
  "tags": []
}
